.tomato-perf {
  margin: -10px 0 0 0;
  font-size: 12px;
  font-weight: normal;
  font-family: Oxanium, sans-serif;
}

.tomato-rating {
  margin: -6px 0 0 0;
  font-size: 12px;
  font-weight: normal;
  font-family: Oxanium, sans-serif;
}

.tomato-neg {
  color: red;
}
